/*==================
    colors
==================*/

$pink-dark = #E72589
$pink-light = #FF0099
$black = #2F2F2F
$light = #D5D5D5
$medium = #949494
$dark = #5A5A5A

/*==================
    general settings
==================*/

edit()

html
body
	padding 0
	margin 0
	width 100%
	height 100%
	
body	
	font-family: 'Muli', sans-serif
		