/*	from inline styling */
@import '_colors.styl'
/*	from inline styling */

.circle
	border-radius 50%
	background-color $nav
	color $light
	height: 200px
	width: 200px
	h1
		padding-top 35%
		margin-bottom 0
		
.square
	border-radius 4px
	background-color $black
	color $light
	height 200px
	width 200px
	h1
		padding-top 35%
		margin-bottom 0
	h3
		font-size 14px
		margin-top 0

.leftNum
	border-bottom 3px solid $black
	text-align left 
	margin-bottom 0

.leftText
	font-size 12px
	text-align: left
	margin-top 0

.leftNumSmall
	text-align left
	margin-bottom 0

.shortestBar
	border-bottom 3px solid $black
	width 35%
	




.rightNum
	text-align left
	margin-bottom 0		

.rightTextContainer
	padding-top 0.3125rem
	padding-right 0.3125rem
	h3
		text-align: right
		font-size 14px
		margin-bottom 0
	h4
		text-align: right
		font-size 12px
		margin-top 0

.minutes
	font-size 18px
	position relative
	right 10px

.average
	font-size 14px
	position relative
	left -30px
	margin-top 0
	

	
