html,
body {
  font-family: 'Muli', sans-serif;
}
.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,0,153,0.6);
  border-color: #f09;
}
.btn {
  width: 100%;
}
.btn-info {
  background: #5a5a5a;
  color: #fff;
}
.btn-info:hover {
  background: #f09;
  color: #fff;
}
.btn-default {
  background: #fff;
  color: #f09;
  -webkit-transition: 0.25s;
          transition: 0.25s;
}
.btn-default:hover {
  background: #f09;
  color: #fff;
  -webkit-transition: 0.25s;
          transition: 0.25s;
}
.jumbotron {
  background: #2f2f2f;
  color: #fdfdfd;
}
